<Html> <!-- This tag is compulsory for any HTML document. -->   
<Head>  
<link rel="stylesheet" href="base.css">
<!-- The Head tag is used to create a title of web page, CSS syntax for a web page, and helps in written a JavaScript code. -->  
</Head>  
<Body>  
<img src="https://toppng.com/public/uploads/preview/erreur-404-11550708744oo95egrxlp.png" width="200px" heigth="150px" alt="Symfony!" />
<h1>Error 404</h1>
<!-- The Body tag is used to display the content on a web page. In this example we do not specify any content or any tag, so in output nothing will display on the web page. -->  
</Body>  
</Html>  